<header class="jumbotron nav">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Bustle_logo.svg/666px-Bustle_logo.svg.png" alt="bustle" id='bustleLogo'>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto list-unstyled">
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="https://wantoo.io/static/landingpage/img/icon_facebook.svg" alt="facebook" id='facebook'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="http://downloadicons.net/sites/default/files/twitter-icon-62318.png" alt="twitter" id='twitter'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="https://images.vexels.com/media/users/3/131766/isolated/preview/94f495f92a4b9aa1e7714db80856358e-pinterest-flat-icon-by-vexels.png" alt="pinterest" id='pinterest'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="http://www.tayyabs.co.uk/img/instagram.png" alt="instagram" id='insta'></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

{{outlet}}
<div class="container">
  <footer>
    <hr>
    Copyright Brittarry 2017
  </footer>
</div>
